* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}

body {
    background: #FBF9F1
}

.container {
    width: 400px;
    height: 480px;
    border: 3px solid #04364A;
    margin: 180px auto;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    background: #DAFFFB;
}

#display {
    border: 3px solid #04364A;
    width: 100%;
    height: 80px;
    background: white;
    text-align: right;
    font-size: 46px;
    padding: 10px 5px 5px;
}

.button-section {
    /* border: 1px solid #04364A; */
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-between;
}
button {
    width: 80px;
    height: 63px;
    background: #64CCC5;
}

button:hover {
    background: #176B87;
    color: #DAFFFB;
    cursor: pointer;
}

.clear,
.sign,
.percent,
.delete {
    background: #04364A;
    color: #DAFFFB;
}

.copyright {
    font-size: 20px;
    text-align: center;
    padding: 35px 0 15px;
}