* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 5px;
}

.container {
    width: 430px;
    height: 480px;
    border: 1px solid black;
    margin: 180px auto;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#current-value {
    height: 80px;
}

.button-section {
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding: 10px;
    justify-content: space-between;
}
button {
    width: 82px;
    height: 55px;
}

.zero {
    width: 174px;
}